.background {
  viewport-fill: black;
  width: 100%;
  height: 100%;
}

.container {
  width: 60%;
  height: 60%;
  x: 20%;
  y: 10%;
}

#elma {
  width: 100%;
  height: 100%;
  x: 0;
  y: 0;
  display: none;
}

#egg {
  width: 100%;
  height: 100%;
  x: 0;
  y: 0;
}

#level {
  font-size: 16;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: middle;
  fill: white;
  x: 50%;
  y: 75%;
}

#myLabel {
  font-size: 60;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: middle;
  fill: white;
  x: 50%;
  y: 95%;
}
